@font-face {
    font-family: "heart";   /*Can be any text*/
    src: local("Merisa-gxvMY"),
      url("./fonts/Merisa-gxvMY.ttf") format("truetype");
  }

  @font-face {
    font-family: "myfont";
    src: local("IMFellDWPica-Italic.ttf"),
        url("./fonts/IMFellDWPica-Italic.ttf") format("truetype");
}